# ===================================================================
# tpRigToolkit-core requirements file
# ===================================================================

Qt.py
python-json-logger
sentry-sdk
pyyaml
metayaml
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt
tpDcc-dccs-maya
tpDcc-libs-nameit
tpRigToolkit-config
# tpRigToolkit-tools-spaceswitcher